@font-face {
    font-family: "Kyiv Type Sans";
    src: url("./fonts/KyivTypeSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Kyiv Type Sans";
    src: url("./fonts/KyivTypeSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    background-color: #000;
    color: #f2f2f2;
    font-family: 'Kyiv Type Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.logo {
    width: 5rem;
    height: auto;
}

.content {
    height: 100vh;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-weight: 700;
    font-size: 3rem;
}

.company {
    text-decoration: underline;
    color: #f2f2f2;
}

.center-text {
    margin: 1.25rem 0;
}

.text {
    line-height: 2rem;
}

.text.secondary {
    color: #8F9BA8
}

.footer {
    padding: 1.25rem 0;
}

.links-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 0;
}

.link {
    color: #8F9BA8;
    text-decoration: none;
    transition: all .2;
}

.link:hover {
    color: #f2f2f2;
    text-decoration: underline;
}